{{- define "main" -}}

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{range $pages.ByPublishDate.Reverse }}
<article class="post" itemscope itemtype="http://schema.org/Article">
  <header>
    <h1><a href="{{ .Permalink }}" target="_blank" itemprop="name">{{ .Title | markdownify }}</a></h1>
    <!-- <div class="sep">.</div> -->
  </header>
  <div class="meta">
    {{ $customDateFormat := "January 2, 2006" }}
    {{ with .Site.Params.customDateFormat }}
    {{ $customDateFormat = . }}
    {{ end }}
    <time itemprop="datePublished" class="publishedAt"
      datetime="{{ .Lastmod.Format $customDateFormat }}">{{ .Lastmod.Format $customDateFormat }}</time>
  </div>
  <div class="description">
    {{ .Summary }}
  </div>
</article>
{{ end }}

{{- end -}}
