<nav class="nav">
  <header class="profile">
    <div class="avatar">
      <a href="{{ "/" | absURL }}" title="{{ .Site.Params.author }}"></a>
    </div>
    <nav>
      <div class="root"><a href="/">~/</a><span>$</span><strong>mcrunix</strong></div>
      {{ with .Site.Params.Description }}
      <p>{{ . }}</p>
      {{ end }}
    </nav>
  </header>
  <ul>
    <li><a href="{{ "about" | absURL }}">About</a></li>
    <li><a href="{{ "projects" | absURL }}">Projects</a></li>
    <li><a href="https://github.com/msudgh">GitHub</a></li>
    <li><a href="https://twitter.com/mcrunix">Twitter</a></li>
    <li><a href="{{ "index.xml" | absURL }}">RSS</a></li>
  </ul>
</nav>
